@import "../../variables.scss";

@mixin borderColor($color) {
  background-color: $color;
  box-shadow: inset 0 0 75px $color;
}

.body {
  display: flex;
  padding: 35px;
  border-radius: 10px;
  background-image: $noise;
  animation: 0.15s linear infinite alternate noise;

  &.red {
    @include borderColor($colorRed);
  }

  &.green {
    @include borderColor($colorGreen);
  }

  &.yellow {
    @include borderColor($colorYellow);
  }

  &.blue {
    @include borderColor($colorBlue);
  }

  &.orange {
    @include borderColor($colorOrange);
  }

  &.teal {
    @include borderColor($colorTeal);
  }

  &.purple {
    @include borderColor($colorPurple);
  }

  &.pink {
    @include borderColor($colorPink);
  }
}

.body-text {
  flex-grow: 1;
  background-color: $colorBlack;
  background-image: $noise;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 25px $colorBlack;

  p {
    position: relative;
    z-index: 1;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  .body {
    grid-row: 2;
    grid-column: span 1;
  }
}
