@import "../../variables.scss";

.legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column: span 2;

  fieldset {
    border: 1px solid $colorRed;
  }
}

@media only screen and (max-width: 800px) {
  .legend {
    grid-row: 3;
    grid-column: span 1;
  }
}
