@font-face {
  font-family: "Sofachrome";
  src: url("./assets/fonts/sofhr.woff") format("woff");
}

@font-face {
  font-family: "DotGothic16";
  src: url("./assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}
